URxvt.font:          xft:Source Code Pro:pixelsize=14:antialias=true:hinting=true
URxvt.boldFont:      xft:Source Code Pro:pixelsize=14:bold:antialias=true:hinting=true

URxvt.scrollBar:     false

#include ".base16-default-dark-256.Xresources"
